$Color1: #FEC63E;
$Color2: #000;
$Color3: #fff;

$GradientLaranja: linear-gradient(45deg, #fec63e, #fea83e);

%HoverSuave{
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}